llama-index-core
llama-index-llms-gemini
llama-index-llms-replicate
llama-index-readers-file
llama-index-embeddings-huggingface
llama-index-embeddings-gemini
psycopg2-binary
sqlalchemy
google-generativeai
